*{
 margin: 0%; 
 padding: 0%;  
}

.wrapper{
    display: flex;
}
.card{
    height: 300;
    width: 450;
}

.card-header {
    color: #D32F2F;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    border-bottom: 1px solid #EF9A9A;
    background-color: #FFEBEE;
    padding: 5px 10px}